<ion-header [translucent]="true">
  <ion-toolbar>
    <!-- back icon -->
    <ion-buttons slot="start" routerLink="/time-tracking">
      <ion-icon name="arrow-back-outline" size="large"></ion-icon>
    </ion-buttons>

    <!-- toolbar title-->
    <ion-title>Weekly review</ion-title>

    <!-- user icon -->
    <ion-buttons slot="end" routerLink="/user">
      <ion-icon name="person-circle-outline" size="large"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item *ngFor="let date of currentWeekDates">
      <ion-label>
        <h2>{{ getDayOfWeek(date) }}: {{ date }}</h2>
        <ng-container *ngFor="let entry of getTimeDataForDate(date)">
          <p>{{ entry.hoursWorked }} - Construction Site: {{ constructionSiteMap.get(entry.cid) }}</p>
        </ng-container>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>


