<ion-header [translucent]="true">
  <ion-toolbar>
        <!-- back icon -->
    <ion-buttons slot="start" routerLink="/time-tracking">
      <ion-icon name="arrow-back-outline" size="large"></ion-icon>
    </ion-buttons>

    <!-- toolbar title-->
    <ion-title>Weekly review</ion-title>

    <!-- user icon -->
    <ion-buttons slot="end" routerLink="/user">
      <ion-icon name="person-circle-outline" size="large"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>



<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">weekly-review</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list>
    <ion-label>Monday</ion-label>
  </ion-list>
</ion-content>
