<ion-header [translucent]="true">
  <ion-toolbar>
    <!-- menu icon -->
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>

    </ion-buttons>

    <!-- toolbar title-->
    <ion-title>Time tracking</ion-title>

    <!-- user icon -->
    <!-- TODO: Getting user id and passing it to the user page -->
    <ion-buttons slot="end" routerLink="/user">
      <ion-icon name="person-circle-outline" size="large"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="ion-page" id="main-content">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">time-tracking</ion-title>
      </ion-toolbar>
    </ion-header>
  </div>

  <div style="padding-left: 20px;">
    <p style="font-size: 20px;">{{constructionArea}}</p>
  </div>

  <div class="center">

    <ion-button style="width: 200px;" (click)="setTime()">Start</ion-button>
    <ion-button style="width: 200px;" (click)="updateTime()">Stop</ion-button>
    <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
      <ion-list *ngFor="let entry of time">
        <ion-refresher-content><ion-label>{{ entry.displayString }}</ion-label></ion-refresher-content>
      </ion-list>
  </ion-refresher>
  </div>
  <!-- grid to display the photos -->
  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let photo of photoService.photos; index as position">
        <ion-img [src]="photo.webviewPath"></ion-img>
        <ion-button (click)="saveImage2(photoService.photos)">Save Image</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- floating action button -->
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="addPhotoToGallery()">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab>


  <ion-toast [isOpen]="isToastOpen" message="Cannot start shift. One was already started" [duration]="3000"
    (didDismiss)="setOpen(false)"></ion-toast>


</ion-content>


<!-- menu sidebar content -->
<ion-menu contentId="main-content">

  <ion-list>
    <ion-item>
      <ion-label class="ion-padding" routerLink="/select-construction-area">Change construction area</ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="ion-padding" routerLink="/weekly-review">Weekly review</ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="ion-padding" routerLink="/absences">Absences</ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="ion-padding" routerLink="/images">Images</ion-label>
    </ion-item>
  </ion-list>

</ion-menu>
