<ion-header [translucent]="true">
  <ion-toolbar>
        <!-- menu icon -->
    <ion-buttons slot="start" (click)="back()">
      <ion-icon name="arrow-back-outline" size="large"></ion-icon>
    </ion-buttons>

    <!-- toolbar title-->
    <!-- <ion-title>select construction area</ion-title> -->

    <!-- user icon -->
    <!-- TODO: Getting user id and passing it to the user page -->
    <ion-buttons slot="end" disabled="true">
      <ion-icon name="person-circle-outline" size="large"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">user</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="center">
    <p>Logged in as</p>
    <p><b>{{user?.[0]?.uname}}</b></p>

    <ion-button routerLink="/login" (click)="deleteCookies()">Log out</ion-button>
  </div>

</ion-content>

